<div id="stick">
    <!-- navbar1 -->
    <div class="maindiv-nav">
        <div class="nav1">
            <p class="navbar1-button">WELCOME TO J.</p>
            <p class="navbar1-button">SIGN IN&nbsp;🇵🇰</p>
            <p class="navbar1-button">TRACKING INFO</p>
            <p class="navbar1-button">CORPORATE INQUIRY</p>
            <p class="navbar1-button">PKR</p>
            <select class="select" name="currency" id="currency">
                <option value="PKR">PKR</option>
                <option value="AUD">AUD</option>
                <option value="GBP">GBP</option>
                <option value="EUR">EUR</option>
                <option value="INR">INR</option>
                <option value="SAR">SAR</option>
            </select>
        </div>
        <div class="nav2">
            <a href="/view-cart" class="position-relative">
                <img src="Images/cart.png" style="width: 20px;" alt="">
                <span id="cart-count" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    0
                </span>
            </a>
            <i class="icon fa-solid fa-magnifying-glass"></i>
            <input class="search" type="text" placeholder="Search">
        </div>
    </div>


    <!-- logo -->
    <div class=" head-img">
        <img class="logo" src="Images/J.webp" alt="">
    </div>


    <!-- navbar2 -->
    <div id="navbar2">
        <div id="navbar2-btn">NEW ARRIVALS 
            <div id="dropdown1">
                <div id="dropdown-sec-1">
                    <h2 id="item">Featured Collection</h2>
                    <li id="items">Bahrain-Women Unstitched</li>
                    <li id="items">Expression Series All-ages-of-him</li>
                    <li id="items">Matching Separates</li>
                </div>
                <div id="dropdown-sec-1">
                    
                    <h2 id="item-head">Midsummer Collection '24</h2>
                    <li id="items">Unstitched Collection</li>
                    <li id="items">Stitched Collection</li>
                    <li id="items">Kurti Collection</li>
                    <li id="items">Trousers Collection</li>
                    <li id="items">Teen Girls Collection</li>
                    <li id="items">Kid Girls Collection</li>
                </div>
                <div id="dropdown-sec-1">
                    <h2 id="item">Matching Separates</h2>
                    <h2 id="item-head">MEN - Midsummer '24</h2>
                    <li id="items">Kameez Shalwar Collection</li>
                    <li id="items">Kurta Collection</li>
                    <li id="items">Waistcoat Collection</li>
                    <li id="items">Unstitched Collection</li>
                </div>
                <div id="dropdown-sec-1">
                    <h2 id="item-head">Boys &amp; Girls - Tehwar Eid-edit</h2>
                    <li id="items">Teen Girls Collection</li>
                    <li id="items">Teen Boys Collection</li>
                    <li id="items">Kid Girls Collection</li>
                    <li id="items">Kid Boys Collection</li>
                    <li id="items">Infant Girls Collection</li>
                    <li id="items">Infant Girls Collection</li>

                </div>
                <div id="dropdown-sec-1">
                    <img src="Images/dropdown1.webp" alt="">

                </div>


            </div>
        </div>

        <div id="navbar2-btn">
            <img src="Images/crew.svg" style="width: 120px;" alt="">
            <div id="dropdown2">
                <div id="dropdown-sec-2">
                  <a href="/men">  <h2 id="item-head">MEN</h2></a>
                    <li id="items">Kameez Shalwar</li>
                    <li id="items">Kurta</li>
                    <li id="items">Trouser</li>
                    <li id="items">Waiscoat</li>
                    <li id="items">Shawl</li>
                    <li id="items">Unstitched</li>
                    <li id="items">Footwear</li>
                </div>
                <div id="dropdown-sec-2">
                    <img id="img-dropdown2" src="Images/dropdown2.webp" alt="">
                </div>
            </div>
        </div>

        <div id="navbar2-btn"><a href="/women">WOMEN</a>
            <div id="dropdown3">
                <div id="dropdown-sec-3">
                    <img src="Images/dropdown3.webp" alt="">
                </div>
                <div id="dropdown-sec-3">
                    <h2 id="item-head">Mama &amp; Me</h2>
                    <h2 id="item-head">Kurti</h2>
                    <li id="items">Formal Kurti</li>
                    <h2 id="item-head">Unstitched</h2>
                    <li id="items">1 Piece</li>
                    <li id="items">2 Piece</li>
                    <li id="items">3 Piece</li>
                    <h2 id="item-head">Stitched</h2>

                </div>
                <div id="dropdown-sec-3">
                    <h2 id="item-head">Formals</h2>
                    <li id="items">Formal Stitched</li>
                    <li id="items">Formal Untitched</li>
                    <h2 id="item">Matching Separates</h2>
                    <h2 id="item-head">Neerang-Handwoven</h2>
                    <h2 id="item-head">Modest Wear(Abaya)</h2>
                    <h2 id="item-head">Saree</h2>
                    <h2 id="item-head">Stoles-Shawls</h2>
                </div>
                <div id="dropdown-sec-3">
                    <h2 id="item-head">Bottom Wears</h2>
                    <h2 id="item-head">Prayer Mats</h2>
                    <h2 id="item-head">Bags</h2>
                    <h2 id="item-head">Jewellery</h2>
                    <h2 id="item-head">Footwear</h2>
                    <h2 id="item-head">Monochrome</h2>
                </div>
            </div>
        </div>
        <div id="navbar2-btn"><a href="/men">MEN</a>
            <div id="dropdown4">
                <div id="dropdown-sec-4">
                    <img src="Images/dropdown4.webp" alt="">
                </div>
                <div id="dropdown-sec-4">
                    <h2 id="item-head">Kurta Pajama</h2>
                    <h2 id="item-head">Kamez Shalwar</h2>
                    <li id="items">Casual</li>
                    <li id="items">Semi-Formal</li>
                    <li id="items">Formal</li>
                    <li id="items">Exclusive</li>
                    <h2 id="item-head">Kurta</h2>
                    <li id="items">Casual</li>
                    <li id="items">Semi-Formal</li>
                    <li id="items">Formal</li>
                    <li id="items">Formal Kurta</li>

                </div>
                <div id="dropdown-sec-4">
                    <h2 id="item-head">Like Father Like Son</h2>
                    <h2 id="item-head">Caps</h2>
                    <h2 id="item-head">Waiscoat</h2>
                    <h2 id="item-head">Pocket Square</h2>
                    <h2 id="item-head">Unstitched Fabric</h2>
                    <li id="items">Platinum Class</li>
                    <li id="items">Gold Class</li>
                    <li id="items">Silver Class</li>
                    <li id="items">Boski</li>
                    <li id="items">Latha</li>

                </div>
                <!-- <div id="dropdown-sec-4">
                    <h2 id="item-head" >Bottom</h2>
                    <h2 id="item-head" >Footwear</h2>
                    <li id="items">Embroidered</li>
                    <li id="items">Trendy</li>
                    <h2 id="item-head" >Underwear</h2>
                    <li id="items">Modal</li>
                    <li id="items">Cotton</li>

                </div> -->
                
                <div id="dropdown-sec-4">
                    <h2 id="item-head">Groom's Collection</h2>
                    <li id="items ">Sherwani</li>
                    <li id="items">Turban</li>
                    <h2 id="item-head">Underwear</h2>
                    <li id="items">Khussa</li>
                    <li id="items">Special Kurta</li>
                    <li id="items">Teen Boys</li>
                    <li id="items">Kid Boys</li>

                </div>
            </div>
        </div>
        <div id="navbar2-btn"><a href="/kids">BOYS &amp; GIRLS</a>
            <div id="dropdown5">
                <div id="dropdown-sec-5">
                    <h2 id="item-head">Teen Girls</h2>
                    <li id="items">Stitched Collection</li>
                    <li id="items">Formal</li>
                    <li id="items">Kurti</li>
                    <li id="items">Trousers</li>

                </div>
                <div id="dropdown-sec-5">
                    <h2 id="item-head">Teen Boys</h2>
                    <li id="items">Kameez Shalwar</li>
                    <li id="items">Kurta</li>

                </div>
                <div id="dropdown-sec-5">
                    <h2 id="item-head">Kid Girls</h2>
                    <li id="items">Stitched Collection</li>
                    <li id="items">Formal</li>
                    <li id="items">Kurti</li>
                    <li id="items">Trousers</li>
                    <li id="items">Footwear</li>
                    <li id="items">Jewellery</li>

                </div>
                <div id="dropdown-sec-5">
                    <h2 id="item-head">Kid Boys</h2>
                    <li id="items">Kameez Shalwar</li>
                    <li id="items">Kurta</li>
                    <li id="items">Kids Bottom</li>
                </div>
                <div id="dropdown-sec-5">
                    <h2 id="item-head">Infant</h2>
                    <li id="items">Infant Boys</li>
                    <li id="items">Infant Girls</li>
                    <li id="items">Kids Bottom</li>
                </div>
            </div>
        </div>
        <div id="navbar2-btn">FRAGRANCES
            <div id="dropdown6">
                <div id="dropdown-sec-6">
                 <img src="Images/dropdown6.webp" alt="">
                </div>
                <div id="dropdown-sec-6">
                    <h2 id="item-head">For Men</h2>
                    <li id="items">Perfume</li>
                    <li id="items">Attar</li>
                    <li id="items">Body Spray</li>
                    <li id="items">Beard Oil</li>
                </div>
                <div id="dropdown-sec-6">
                    <h2 id="item-head">For Women</h2>
                    <li id="items">Perfume</li>
                    <li id="items">Gift Set</li>
                    <li id="items">Body Spray</li>
                </div>
                <div id="dropdown-sec-6">
                    <h2 id="item-head">Other</h2>
                    <li id="items">Reed DIffuser</li>
                </div>
            </div>
        </div>
        <div id="navbar2-btn">MAKEUP
            <div id="dropdown7">
                <div id="dropdown-sec-7">
                    <h2 id="item-head">Face</h2>
                    <li id="items">Blusher</li>
                    <li id="items">Cream &amp; Foundation</li>
                    <li id="items">Powder</li>
                    <li id="items">Other</li>
                </div>
                <div id="dropdown-sec-7">
                    <h2 id="item-head">Eyes</h2>
                    <li id="items">Eye Liner</li>
                    <li id="items">Eye Pencil</li>
                    <li id="items">Eye Shadow</li>
                </div>
                <div id="dropdown-sec-7">
                    <h2 id="item-head">Lips</h2>
                    <li id="items">Lip Stick</li>
                    <li id="items">Lip Gloss</li>
                    <li id="items">Other</li>
                </div>
                <div id="dropdown-sec-7">
                   <img id="img-dropdown7" src="Images/dropdown7.webp" alt="">
                </div>
            </div>
        </div>
        <div id="navbar2-btn"><a href="/admin/dashboard">Admin</a></div>
    </div>
    <p class="p">&nbsp;</p>
</div>

<script>
function updateCartCount() {
    fetch('/cart')
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                const totalItems = data.cart.reduce((sum, item) => sum + item.quantity, 0);
                document.getElementById('cart-count').textContent = totalItems;
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
}

// Update cart count when page loads
document.addEventListener('DOMContentLoaded', updateCartCount);
</script>